@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MegaDesk</h1>
    <a asp-page="/Desks/Create" class="w-20 vtn btn-primary m-2">Add New Quote</a>
</div>
