@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="bg-image">
        <image src="../Images/desk-2.png"></image>
        <h1 class="display-4">Welcome to MegaDesk</h1>
        <div class="vertical-buttons">
            <a asp-page="/Desks/Create" class="w-20 vtn btn-primary m-2">Add New Quote</a>
            <a asp-page="/Desks/Index" class="w-20 vtn btn-primary m-2">View All Quotes</a>
            
        </div>
    </div>
    
</div>
